.btn{
    border-radius: 0;
    font-size: 1.6rem;
    background-color: $color-purple;
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
    color: #ffffff;
    border: 0;
    &--lg{
        font-size: 3.2rem;
        padding: 1.8rem;
        border-bottom: 0.6rem solid darken($color-purple, 10%);
        margin-bottom: 35px;
        width: 100%;
    }
    &--link{
        background-color: transparent;
        padding: 0;
    }
    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}